<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Veterinarias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="w-full h-full py-8 px-4">
    <div class="mt-12">
      <ion-card *ngFor="let veterinary of veterinaries">
        <ion-card-content (click)="selectVeterinary(veterinary)">
          <div class="w-full h-full flex gap-4">
            <div class="h-48 lg:h-auto rounded text-center overflow-hidden flex-1" style="background-size: cover !important; background: url({{veterinary.logo || 'assets/logos/vet.jpeg'}})">
            </div>
            <div class="flex-1 flex flex-col justify-between">
              <div>
                <div class="w-full flex justify-between items-center">
                  <div><span class="font-bold">{{veterinary.name}}</span></div>
                </div>
                <div class="w-full flex items-center text-sm">
                  <div><span>{{veterinary.address}}</span></div>
                </div>
                <div class="w-full flex items-center text-sm">
                  <div><small>+51 {{veterinary.cellphone}}</small></div>
                </div>
              </div>
              <div>
                <div class="w-full flex flex-col">
                  <div>Abierto</div>
                  <div class="flex items-center">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-half-outline"></ion-icon>
                    <div><span class="ml-1">4.8</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
