<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Vacunas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="w-full h-full py-8 px-4">
    <div class="w-full flex justify-end items-center">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </div>
    <div class="mt-12">
      <ion-card>
        <ion-card-content>
          <div class="w-full h-full flex gap-4 items-center">
            <div class="h-20 w-20 lg:h-auto rounded text-center overflow-hidden"
                 style="background-size: cover !important; background: url('assets/img_1.png')">
            </div>
            <div class="flex-1 flex flex-col justify-between">
              <div>
                <div class="w-full flex justify-between items-center">
                  <div><span class="font-bold">Distemper</span></div>
                  <div>
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                  </div>
                </div>
                <div class="w-full flex items-center">
                  <div><small>Veterinaria San Miguel</small></div>
                </div>
              </div>
              <div>
                <div class="w-full flex items-center justify-between">
                  <small style="font-size: 12px">Dr. Abel Silva</small>
                  <small style="font-size: 12px">14/02/2024</small>
                </div>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <div class="w-full h-full flex gap-4 items-center">
            <div class="h-20 w-20 lg:h-auto rounded text-center overflow-hidden"
                 style="background-size: cover !important; background: url('assets/img_1.png')">
            </div>
            <div class="flex-1 flex flex-col justify-between">
              <div>
                <div class="w-full flex justify-between items-center">
                  <div><span class="font-bold">Distemper</span></div>
                  <div>
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                  </div>
                </div>
                <div class="w-full flex items-center">
                  <div><small>Veterinaria San Miguel</small></div>
                </div>
              </div>
              <div>
                <div class="w-full flex items-center justify-between">
                  <small style="font-size: 12px">Dr. Abel Silva</small>
                  <small style="font-size: 12px">14/02/2024</small>
                </div>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <div class="w-full h-full flex gap-4 items-center">
            <div class="h-20 w-20 lg:h-auto rounded text-center overflow-hidden"
                 style="background-size: cover !important; background: url('assets/img_1.png')">
            </div>
            <div class="flex-1 flex flex-col justify-between">
              <div>
                <div class="w-full flex justify-between items-center">
                  <div><span class="font-bold">Distemper</span></div>
                  <div>
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                  </div>
                </div>
                <div class="w-full flex items-center">
                  <div><small>Veterinaria San Miguel</small></div>
                </div>
              </div>
              <div>
                <div class="w-full flex items-center justify-between">
                  <small style="font-size: 12px">Dr. Abel Silva</small>
                  <small style="font-size: 12px">14/02/2024</small>
                </div>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <div class="w-full h-full flex gap-4 items-center">
            <div class="h-20 w-20 lg:h-auto rounded text-center overflow-hidden"
                 style="background-size: cover !important; background: url('assets/img_1.png')">
            </div>
            <div class="flex-1 flex flex-col justify-between">
              <div>
                <div class="w-full flex justify-between items-center">
                  <div><span class="font-bold">Distemper</span></div>
                  <div>
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                  </div>
                </div>
                <div class="w-full flex items-center">
                  <div><small>Veterinaria San Miguel</small></div>
                </div>
              </div>
              <div>
                <div class="w-full flex items-center justify-between">
                  <small style="font-size: 12px">Dr. Abel Silva</small>
                  <small style="font-size: 12px">14/02/2024</small>
                </div>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <div class="w-full h-full flex gap-4 items-center">
            <div class="h-20 w-20 lg:h-auto rounded text-center overflow-hidden"
                 style="background-size: cover !important; background: url('assets/img_1.png')">
            </div>
            <div class="flex-1 flex flex-col justify-between">
              <div>
                <div class="w-full flex justify-between items-center">
                  <div><span class="font-bold">Distemper</span></div>
                  <div>
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                  </div>
                </div>
                <div class="w-full flex items-center">
                  <div><small>Veterinaria San Miguel</small></div>
                </div>
              </div>
              <div>
                <div class="w-full flex items-center justify-between">
                  <small style="font-size: 12px">Dr. Abel Silva</small>
                  <small style="font-size: 12px">14/02/2024</small>
                </div>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
