<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="vaccines" href="/pet/vaccines">
      <ion-icon name="eyedrop-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button >
      <ion-icon name="newspaper-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/pet/profile">
      <ion-icon name="paw-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="statistics" href="/pet/statistics">
      <ion-icon name="bar-chart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="calendar" href="/pet/calendar">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
