<ion-content>
  <div class="w-full h-full flex justify-center items-center py-8 flex-col" style="background: url('https://i.pinimg.com/736x/2b/30/6c/2b306c7f30a52eb50a754bb16139a8fa.jpg')">

    <div class="w-full flex justify-center items-end flex-1">
      <ion-card class="w-full">
        <ion-row>
          <ion-col size-md="9" size="12" class="welcome">
            <ion-card-header>
              <ion-card-title class="font-mono">Sign Up</ion-card-title>
            </ion-card-header>

            <ion-card-content [formGroup]="registerForm">
              <div>
                <ion-input label="Usuario" class="font-mono" formControlName="names" labelPlacement="stacked"></ion-input>
              </div>
              <div>
                <ion-input label="Nombres" class="font-mono" labelPlacement="stacked"></ion-input>
              </div>
              <div>
                <ion-input label="Apellidos" class="font-mono"  labelPlacement="stacked"></ion-input>
              </div>
              <div>
                <ion-input label="Edad" class="font-mono" type="numeric" labelPlacement="stacked"></ion-input>
              </div>
              <div>
                <ion-input label="Dirección" class="font-mono" labelPlacement="stacked"></ion-input>
              </div>
              <div>
                <ion-input label="Correo electrónico" class="font-mono" type="email" labelPlacement="stacked"></ion-input>
              </div>
              <div>
                <ion-input label="Telefono - Celular" class="font-mono" type="tel" labelPlacement="stacked"></ion-input>
              </div>
              <div>
                <ion-input label="Contraseña" class="font-mono" type="password" labelPlacement="stacked"></ion-input>
              </div>

              <div class="mt-4 flex justify-end">
                <ion-button shape="round" color="tertiary"  routerLink="/tabs" class="w-full font-mono">Sign up</ion-button>
              </div>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
</ion-content>

